
@{
    ViewData["Title"] = "GetClaim";
}

<h1>GetClaim</h1>

<h2>accesstoken</h2>
<p>@ViewData["accesstoken"]</p>

<h2>idToken</h2>
<p>@ViewData["idToken"]</p>

<h2>refreshToken</h2>
<p>@ViewData["refreshToken"]</p>

<dl>
    @foreach (var item in User.Claims)
    {
        <dt>@item.Type</dt>
        <dd>@item.Value</dd>
    }
</dl>